<mat-toolbar>
  <span>OpenOrigin</span>

  <div class="navigation">

    <ng-container *ngIf="true">
      <a routerLink="delivery-tracker">Delivery Tracker</a>
    </ng-container>

    <ng-container *ngIf="true">
      <a routerLink="create-delivery">Create Delivery</a>
    </ng-container>

    <ng-container *ngIf="true">
      <a routerLink="admin/companies">Manage Companies</a>
    </ng-container>
    <a routerLink="deliveries">My Deliveries</a>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>


<footer>
  <span>Smart contract: {{contractAddress}}</span>
  <button (click)="copyContractAddressToClipBoard()">Copy</button>
</footer>



