<h2>Delivery ID: {{deliveryId}}</h2>

<ng-container *ngIf="delivery">
  <div class="products">
    <div class="product" *ngFor="let product of delivery.products;">
      <b>{{product.itemName}}</b>{{product.numberOfItems}} Items
    </div>
  </div>
</ng-container>




<div class="history">

  <div *ngFor="let item of history; last as last">
    <div class="companyName">
      {{item.companyName}}
    </div>
    <ng-container *ngIf="!last">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_downward"></mat-icon>
    </ng-container>

  </div>

</div>

<span class="">

</span>
